.App {
  text-align: center;
  margin: auto;
  width:600px;
   
}
.Todo{
  color: blueviolet;
  border: crimson 0.5px ridge;
  margin: 6px;
}
button{
  padding: 10px;
  width: 120px;
}
.title{
  font-size: 25px;
  font-weight:bold;
  font-family:Times
}